@import './navbar.scss';
@import './upload.scss';

.community {
    .header {
        height: 50px;
        background-size: contain;
        background-position-y: 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .navbar {
            @include community-navbar;
        }
    }

    .body {
        .upload {
            @include community-upload;
        }
    }
}