@mixin community-commentSection {
    margin:auto;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 0.5px solid silver;
    max-width: 1150px;

    .title {
        margin: 0 0 0 0;
        color: #212121;
        font-size: 1.25em;
        font-weight: bold;
    }

    .comment-form {
        .form-group {
            margin-bottom: 5px;
        }
        .controls {
            display: flex;
            justify-content: flex-end;
            column-gap: 15px;
            justify-items: center;
            align-items: center;
            .text-count {
    
            }

            .error {
                color:crimson;
                font-weight: bold;
            }
    
            .button {
                flex-basis: 150px;
                height: 40px;
                font-size: 1.5em;
            }
        }
    }

    .comment-list {
        max-width: 1150px;
        p {
            margin:0;
        }
        a {
            text-decoration: none;
        }

        .reply {
            .action-controls {
                width: calc(1150px - (85px * 2)) !important;
            }
        }
        
        .comment,.reply {
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            .profile-picture {
                height: 75px;
                width: 75px;
                border-radius: 0.25em;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                img {
                    border-radius: 0.25em;
                    width: 75px;
                    height: 75px;
                    object-fit: cover;
                }
            }

            .content {
                width: calc(1150px - 85px);
                // display: flex;
                // flex-direction: column;

                .user-info {
                    font-weight: bold;
                    margin-bottom: 5px;
                    a {
                        color:#212121;
                        font-size: 1.25em;
                        &:hover {
                            color:#ff810c;
                        }
                    }
                }
                .callout-box {
                    display: flex;
                    .callout {
                        min-width: 20px;
                        padding: 5px 7.5px 5px 7.5px;
                        border-radius: 0 0.5em 0.5em 0.5em;
                        background:white;
                        box-shadow:0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                        transition: 0.25s;
                        
                        &:hover {
                            background:#212121;
                            color:#d8d8d8;
                        }
                    }
                }
                .action-controls {
                    margin-top: 7.5px;
                    display: flex;
                    justify-content: space-between;
                    column-gap: 5px;
                    width: calc(1150px - 85px);
                    
                    a {
                        box-shadow: -43px 2px 0px -45px #ff810c inset;
                        padding-right: 7.5px;
                        color: #212121;
                        text-transform: uppercase;
                        font-weight: bold;
                        transition: 0.25s;
                        cursor: pointer;
                        &:hover {
                            color:#ff810c;
                            box-shadow: -43px 2px 0px -40px #ff810c inset;
                        }
                    }

                    .flex-box:last-child {
                        display: flex;
                        justify-content: flex-end;
                        column-gap: 5px;
                    }
                }
            }
        }
    }
}