@mixin community-commentSection {
    margin:auto;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 0.5px solid silver;
    max-width: 1150px;
    
    .error {
        color:crimson !important;
        font-weight: bold;
    }
    .title {
        margin: 0 0 0 0;
        color: #212121;
        font-size: 1.25em;
        font-weight: bold;
    }

    .action-wrapper {
        .action {
            width: 100% !important;
            column-gap: 5px !important;
            .text {
                font-weight: bold;
            }
        }
    }
    
    .comment-form {
        padding-bottom: 5px;
        .form-group {
            margin-bottom: 5px;
        }
        .controls {
            display: flex;
            justify-content: flex-end;
            column-gap: 15px;
            justify-items: center;
            align-items: center;
            .text-count {
    
            }

    
            .button {
                flex-basis: 150px;
                height: 40px;
                font-size: 1.5em;
            }
        }
    }

    .comment-list {
        max-width: 1150px;
        p {
            margin:0;
        }
        a {
            text-decoration: none;
        }

        .reply {
            .action-controls {
                width: calc(1150px - (60px * 2)) !important;
            }
        }

        .deleted {
            .user-info, .callout-box, .profile-picture {
                opacity: 0.25;
            }

            .action-controls {
                visibility: hidden;
            }
        }
        
        .comment,.reply {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            // border-bottom: 0.5px solid silver;
            .profile-picture {
                height: 50px;
                width: 50px;
                border-radius: 0.25em;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                img {
                    border-radius: 0.25em;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }
            }
            
            
            
            &:hover .content .user-info .date {
                display: block;
            }
            .content {
                width: calc(1150px - 60px);
                // display: flex;
                // flex-direction: column;

                .user-info {
                    font-weight: bold;
                    margin-bottom: 5px;
                    display: flex;
                    column-gap: 5px;
                    align-items: center;
                    .edited {
                        font-weight: normal;
                        font-style: italic;
                        font-size: 0.75em;
                        color:crimson;
                    }

                    .date {
                        font-weight: normal;
                        font-size: 0.75em;
                        display: none;
                    }


                    a {
                        color:#212121;
                        font-size: 1em;
                        &:hover {
                            color:#ff810c;
                        }
                    }
                }
                .callout-box {
                    display: flex;
                    .callout {
                        min-width: 1px;
                        padding: 5px 7.5px 5px 7.5px;
                        border-radius: 0 0.5em 0.5em 0.5em;
                        background:white;
                        box-shadow:0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                        transition: 0.25s;
                        font-size: 0.85em;
                        &:hover {
                            background:#212121;
                            color:#d8d8d8;
                        }
                    }

                    .edit_mode {
                        width: 100% !important;
                    }
                }
                .action-controls {
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;
                    column-gap: 5px;
                    width: calc(1150px - 60px);
                    
                    a {
                        box-shadow: -43px 2px 0px -45px #ff810c inset;
                        padding-right: 7.5px;
                        color: #212121;
                        text-transform: uppercase;
                        font-weight: bold;
                        transition: 0.25s;
                        font-size: 0.85em;
                        cursor: pointer;
                        &:hover {
                            color:#ff810c;
                            box-shadow: -43px 2px 0px -40px #ff810c inset;
                        }
                    }

                    .flex-box:last-child {
                        display: flex;
                        justify-content: flex-end;
                        column-gap: 5px;
                    }
                }
            }
        }
    }
}