@import './navbar.scss';
@import './upload.scss';
@import './management.scss';
@import './showArt.scss';

.community {
    height: 5000px;
    .header {
        height: 50px;
        background-size: contain;
        background-position-y: 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .navbar {
            @include community-navbar;
        }
    }

    .body {
        padding-top: 25px;
        background-repeat: no-repeat;
        background-size:cover;
        background-blend-mode: saturation;
        .upload {
            @include community-upload;
        }

        .management {
            @include community-management;
        }

        .show-art {
            @include community-showArt;
        }
    }
}