@mixin community-gallery {

    .ads {
        max-width: 1150px;
        margin:auto;
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        margin-bottom: 10px;
        // margin-bottom: 10px;
        .ad {
            border-radius: 0.25em;
            height: 50px;
            width: calc(100%/3);
            background:#212121;
        }
    }

    > .header {
        width: 100%;
        background: #212121;
        // background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(33,33,33,0.8) 5%, rgba(216,216,216,0) 100%);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
        // padding-top: 50px;
        
        .navbar {
            margin:auto;
            max-width: 1150px;
            padding-top: 10px;
            // margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            .nav-item {
                font-size: 4em;
                font-weight: bold;
                opacity: 0.25;
                color:#d8d8d8;
                margin:0;
                cursor: pointer;
                &:hover {
                    opacity: 0.75;
                }
            }

            .active {
                opacity: 0.75;
            }
        }

        .dash {
            width: 100%;
            height: 10px;
            background-size: 50px;
        }
        
        .trending-arts {
            .loading {
                height: 50px;
                width: 50px;
                margin:auto;
            }
            // border-top: 10px solid #ff810c;
            padding: 10px 10px 0 10px;
            // box-sizing: border-box;
            display: flex;
            margin-bottom: 10px;
            height: 400px;
            .list {
                display:flex;
                column-gap: 15px;
                height: 400px;
                .item {
                    height: 400px;
                    // width: 250px;
                    // overflow: hidden;
                    position: relative;
                    // text-shadow: 0px 2px 4px black;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                    border-radius: 0.25em;
                    img {
                        border-radius: 0.25em;
                        height: 100%;
                    }

                    &:hover {
                        .trending-overlay {
                            visibility: visible;
                        }
                    }

                    .trending-overlay {
                        visibility: hidden;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 0.25em;
                        background:linear-gradient(rgba(255, 150, 54, 0.75),rgba(0,0,0,0));

                        .rank {
                            visibility: visible;
                            margin:0;
                            position: absolute;
                            left: 25px;
                            top: 12.5px;
                            color:#d8d8d8;
                            font-size: 3em;
                            font-weight: bold;
                            opacity: 0.75;
                            text-shadow: 0px 2px 4px black;

                        }
                    }
                }
            }
        }
        
        > .channels {
            padding: 0 10px 0 10px;
            box-sizing: border-box;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
            cursor: grab;
            display: flex;
            // background: #212121;
            // overflow: hidden;
            // width: 100%;
            // margin:0 10px 0 10px;
    
            .list {
                margin:10px 0 10px 0;
                display: flex;
                column-gap: 15px;
                // width: 100%;
                // overflow: hidden;
                .item {
                    width: 250px;
                    height: 75px;
                    overflow: hidden;
                    position: relative;
                    text-shadow: 0px 2px 4px black;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                    border-radius: 0.25em;
                    img {
                        position: absolute;
                        top: 50%;
                        transform: translate(0%, -50%);
                        border-radius: 0.25em;
                        width: 100%;
                        // height: 100%;
                        object-fit: contain;
                        // margin-bottom: 150px;
                    }
                    .overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        color:#d8d8d8;
                        font-weight: bold;
                        p {
                            margin:0;
                            position: absolute;
                            top: 5px;
                            left: 7.5px;
                        }
                        transition: 0.25s;
                        &:hover {
                            color:white;
                            // background:linear-gradient(rgba(255, 150, 54, 0.75),rgba(0,0,0,0));
                            // box-shadow: -1px -85px 0px -78px #ff810c inset;
                            box-shadow: -43px 2px 0px -35px #ff810c inset;


                        }
                    }
                }
            }
        }
    }

    .content {

        .layout-and-filter {
            @include desktop {
                padding: 0 10px 0 10px;
            }
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .layout-bar {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 0.25em ;
                border:2px solid #212121;
                .layout {
                    transition: 0.25s;
                    &:first-child {
                        // border-radius: 0.25em 0 0 0.25em;
                        border-right: 1px solid #212121;

                    }

                    &:last-child {
                        // border-radius: 0 0.25em 0.25em 0;
                    }

                    &:hover {
                        background: #212121;
                        p {
                            color: rgba(255, 150, 54, 0.75);
                            // font-weight: bold;
                        }
                    }
                    cursor: pointer;
                    // background: #212121;
                    padding: 5px 10px 5px 10px;

                    // box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                    p {
                        color:#212121;
                        margin:0;
                        font-size: 1em;
                        // text-shadow: 0px 2px 4px black;
                    }
                }

                .active {
                    background: #212121;
                    p {
                        color: rgba(255, 150, 54, 0.75);
                        // font-weight: bold;
                    }
                }
            }
            .filter-bar {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-radius: 0.25em ;
                border:2px solid #212121;
                .filter {
                    transition: 0.25s;
                    &:first-child {
                        // border-radius: 0.25em 0 0 0.25em;
                        border-right: 1px solid #212121;
                    }

                    &:last-child {
                        // border-radius: 0 0.25em 0.25em 0;
                    }

                    &:hover {
                        background: #212121;
                        p {
                            color: rgba(255, 150, 54, 0.75);
                            // font-weight: bold;
                        }
                    }
                    cursor: pointer;
                    // background: #212121;
                    padding: 5px 10px 5px 10px;

                    // box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                    p {
                        color:#212121;
                        margin:0;
                        font-size: 1em;
                        // text-shadow: 0px 2px 4px black;
                    }
                }

                .active {
                    background: #212121;
                    p {
                        color: rgba(255, 150, 54, 0.75);
                        // font-weight: bold;
                    }
                }
            }
        }
        
        .arts-list {
            margin-top: 10px;
            @include desktop {
                padding: 0 10px 0 10px;
            }

            .grid_layout {
                display: grid;
                grid-template-columns: repeat(12,1fr);
                grid-gap: 5px 5px;
                // column-count: 7;
                justify-items: center;
                @include mobile {
                    grid-template-columns: repeat(3,1fr);
                    // column-count:2;
                }
                @include tablet {
                    grid-template-columns: repeat(6,1fr);
                    // column-count:4;
                }

                .wrapper {
                    .info {
                        display: none;
                    }
                }
            }

            .list_layout {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 5px 5px;
                @include mobile {
                    grid-template-columns: repeat(1,1fr);
                    // column-count:2;
                }
                @include tablet {
                    grid-template-columns: repeat(2,1fr);
                    // column-count:4;
                }
                a {
                    text-decoration: none;

                }
                .wrapper {
                    display: flex;
                    column-gap: 5px;
                    height: 150px;
                    transition: 0.25s;
                    &:hover {
                        box-shadow: -43px 2px 0px -39px #ff810c inset;
                        
                        .title {
                            color:#ff810c;
                        }
                        .art {
                            background:#ff810c;
                            padding: 5px;
                            box-sizing: border-box;
                        }
                    }
                    .art {
                        min-width: 145px;
                        height: 145px;
                    }
                    .info {
                        padding-right: 5px;
                        p {
                            margin:0;
                            color: #212121;
                        }
                        .title {
                            font-weight: bold;
                        }

                        .caption {
                            margin-top: 5px;
                            font-size: 0.75em;
                        }
                    }
                }
            }

           .list {
                // line-height: 0;
                // column-gap: 5px;
                // padding: 5px;
                // background-image: linear-gradient(#212121,#313131);  
                // animation: fadeIn 1s;
                // margin:0px 5px 0 5px;
                .wrapper {
                    .art {
                        padding: 0px;
                        // box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                        // margin-bottom: 5px;
                        // overflow: hidden;
                        display: flex;
                        justify-content: center;
                        max-width: 150px;
                        height: 150px;
                        img {
                            cursor: pointer;
                            border-radius: 0.1em;
                            width: 100% !important;
                            // height: 100% !important;
                            object-fit: cover;
                        }
                        
                        &:hover img {
                            // transition: 1s ease-in;
                            // transform: scale(1.1);
                        }
                    }
                }
            }

            .loading-wrapper {
                margin-top: 50px;
                width: 100%;
            }

           .scroll-end {
               margin-top: 50px;
               .text {
                   margin:0;
                   text-align: center;
                   font-weight: bold;
                   color:#212121;
               }
           }
        }
    }
}