@mixin community-management {
    > .title {
        max-width: 1150px;
        margin:auto;
        .page-title {
            margin-top:0;
            color:#212121;
        }
    }

    .no-item {
        text-align: center;
    }

    > .wrapper {
        
        .showcases-list {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.30), 0 1px 3px rgba(0, 0, 0, 0.30);
            cursor: grab;
            height: auto;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            background: #212121;
            margin-bottom: 25px;
            @include desktop {
                padding: 25px 25px 25px 25px;
            }
            animation: fadeIn 1s;
            column-gap: 10px;
            a {
                text-decoration: none;
                color:#212121;
            }
            .title {
                margin:0;
                font-weight: bold;
                color:#d9d9d9;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 250px;
                margin-bottom: 5px;
            }

            .list {
                width: 250px;
                display:grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 3px;
                row-gap: 2.5px;
                justify-content: center;
                .no-item {
                    color:#d9d9d9;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        margin:0;
                    }
                }

                .showcase {
                    .showcase-thumbnail {
                        height: 70px;
                        width: 100%;
                        border-radius: 0.25em;
                        overflow: hidden;
                        img {
                            height: 70px;
                            width: 100%;
                            border-radius: 0.25em;
                            // box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                            object-fit: cover;
                        }
                        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);

                    }

                    .has-more {
                        background: #212121;
                        height: 70px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                        p {
                            color:#d9d9d9;
                            font-size: 1.5em;
                            font-weight: bold;
                            margin:0;
                        }
                    }
    
                    .showcase-title {
                        text-transform: uppercase;
                        font-weight: bold;
                        p {
                            margin:0;
                            font-size: 0.75em;
                        }
                    }
                }
            }

            // a {
            //     text-decoration: none;
            //     &:last-child {
            //         padding-right: 75px !important;
            //     }
            //     // .showcase {
            //     //     height: inherit;
            //     //     .title {
            //     //         color: #d8d8d8;
            //     //         margin-bottom: 5px;
            //     //     }
                    
            //     //     .thumbnail {
            //     //         box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
            //     //         height: 175px;
            //     //         width: 300px;

            //     //         background: #212121;
            //     //         img {
            //     //             height: 175px;
            //     //             width: 300px;
            //     //             vertical-align: middle;
            //     //             object-fit: cover;
            //     //         }
            //     //     }
            //     // }
            // }
        }
        
        .arts-list {
            @include desktop {
                padding: 0 25px 0 25px;
            }
            // line-height: 0;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-gap: 5px 5px;
            // column-count: 7;
            justify-items: center;
            @include mobile {
                grid-template-columns: repeat(3,1fr);
                // column-count:2;
            }
            @include tablet {
                grid-template-columns: repeat(6,1fr);
                // column-count:4;
            }
            // column-gap: 5px;
            // padding: 5px;
            // background-image: linear-gradient(#212121,#313131);  
            animation: fadeIn 1s;
            .art {
                padding: 0px;
                // box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                // margin-bottom: 5px;
                // overflow: hidden;
                display: flex;
                justify-content: center;
                max-width: 150px;
                height: 150px;
                img {
                    cursor: pointer;
                    border-radius: 0.1em;
                    width: 100% !important;
                    // height: 100% !important;
                    object-fit: cover;
                }
                
                &:hover img {
                    // transition: 1s ease-in;
                    // transform: scale(1.1);
                }
            }
        }
    }
}