@mixin community-management {
    .title {
        max-width: 1150px;
        margin:auto;

        .page-title {
            margin-top:0;
            color:#212121;
        }
    }

    .arts-list {
        line-height: 0;
        column-count: 7;
        column-gap: 5px;
        padding: 10px;
        // background-image: linear-gradient(#212121,#313131);  
        .art {
            padding: 0px;
            // box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
            margin-bottom: 5px;
            overflow: hidden;
            img {
                cursor: pointer;
                border-radius: 0.1em;
                width: 100% !important;
                height: auto !important;
            }
            
            &:hover img {
                // transition: 1s ease-in;
                // transform: scale(1.1);
            }
        }
    }
}