@mixin community-showArt {
    .header {
        max-width: 1150px;
        margin:auto;
        margin-top: 20px;
        margin-bottom: 20px;
        // padding: 0 5px 0 5px;
        h1 {margin: 0}
        display: flex;
        justify-content: space-between;

        @include mobile {
            font-size: 0.75em;
        }

        .title {
            display: flex;
            align-items: center;
        }


        .genres {
            column-gap: 10px;
            display: flex;
            align-items: center;
            .channel {
                flex: 0 1 auto;
                width: auto;
                h1 {
                    margin:0;
                }
            }
            
            .dimensional {
                flex: 0 0 auto;
                height: 50px;
                width: 50px;
                background:#212121;
                text-align: center;
                display: flex;
                border-radius: 100%;
                justify-content: center;
                align-items: center;
                h1 {
                    font-size: 1.25em;
                    color:#d9d9d9;
                    margin:0;
                }

                @include mobile {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .art-wrapper {
        background-color:#212121;
        padding: 40px 0 30px 0;
        .art {
            text-align: center;
            // width: 1150px;
            margin:auto;
            img {
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                // width: auto;
                height: 700px;
                @include mobile {
                    height: auto;
                    width: 95%;
                }

                @include tablet {
                    height: auto;
                    width: 95%;
                }
            }
        }

        .caption {
            width: 1150px;
            @include mobile {
                width: 100%;
                font-size: 0.75em;
            }

            @include tablet {
                width: 100%;
                font-size: 0.8em;
            }
            text-align: center;
            margin:auto;
            color: #d9d9d9;
        }
    }

    .footer {
        padding: 20px 0 20px 0;
        width: 1150px;
        margin:auto;
        @include mobile {
            width: 100%;
            .description {
                // padding: 0 5px 0 5px;
            }
        }

        @include tablet {
            width: 100%;
            .description {
                // padding: 0 5px 0 5px;
            }
        }

        > .description {
            font-size: 0.75em;
            text-align: justify;
            text-indent: 25px;
        }

        .edit-form {
            margin-top: 50px;
            position: relative;
            
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: -20px;
                left: -20px;
                right: -20px;
                bottom: -20px;
                // background: #ffde76;
                border-radius: 0.25em;
                background:linear-gradient(180deg, #bbbbbb 0%, rgba(216, 216, 216, 0) 100%);
            }
            // .dash {
                // margin-bottom: 25px;
            // }
            .text-input {
                margin-top: 8px;
            }
            .split {
                display:grid; // check React code
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
    
                @include mobile {
                    grid-template-columns: 1fr;
                }
    
            }
            
            textarea {
                resize: none;
                height: 100px;
                padding-top: 5px;
                &::placeholder {
                    font-size: 1em;
                }
            }

            .tags {
                font-style: italic;
                > small {
                    display: block;
                }
                .caption {
                    margin-bottom: 15px;
                    span {
                        border-radius: 0.25em;
                        text-transform: uppercase;
                        background-color: #ff7e06;
                        color: #D9D9D9;
                        font-size: 0.75em;
                        padding: 3px 5px 3px 5px;
                        font-style: normal !important;
                        font-weight: bold;
                    }
                }

                .tags-list {
                    font-style: normal;
                    .tag {
                        border-radius: 0.25em;
                        display: inline-block;
                        padding: 3px 5px 3px 5px;
                        background: #212121;
                        color:#D9D9D9;
                        margin-right: 5px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .action-wrapper {
            display: flex;
            justify-content: space-evenly;
            margin-top: 50px;
            
            .action {
                i {
                    font-size: 1.5em;
                }
    
                &:hover {
                    cursor: pointer;
                    i {
                        color:#FF9636;
                    }
                }
            }

        }

        
        .more {
            display: flex;
            margin-top: 25px;
            @include mobile {
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;

                > div {
                    border-bottom: 1px solid silver;
                    padding-bottom: 25px;
                    
                    &:last-child {
                        border:none;
                    }
                }
            }

            @include tablet {
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;

                > div {
                    border-bottom: 1px solid silver;
                    padding-bottom: 25px;
                    
                    &:last-child {
                        border:none;
                    }
                }
            }

            .title {
                font-weight: bold;
            }

            .artist {         
                * {
                    text-decoration: none;
                }  
                .info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 25px;
                    
                    @include mobile {
                        width: 250px;
                        display: grid;
                        justify-content: flex-start;
                    }

                    @include tablet {
                        width: 250px;
                        display: grid;
                        justify-content: flex-start;
                    }

                    .profile-picture {
                        background:#212121;
                        width: 140px;
                        height: 140px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0.25em;
                        // border-radius: 100%;
                        overflow: hidden;
                        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
        
                        i {
                            font-size: 80px;
                            color:#d9d9d9;
                        }
                    }
        
                    .name {
                        p {
                            margin:0;
                        }

                        .username {
                            font-size: 2em;
                            color:#212121;
                            transition: 0.25s;
                            &:hover {
                                color:rgba(255, 150, 54, 1);
                                
                            }
                        }

                        .fullname {
                            font-style: italic;
                        }
                    }
                }
            }

            .showcases-list { 
                width: 250px;
                .list {
                    display:grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 10px;
                    row-gap: 10px;
                    justify-content: center;
                    a {
                        text-decoration: none;
                        color:#212121;
                    }
                    .showcase {
                        .showcase-thumbnail {
                            border-radius: 0.25em;
                            img {
                                border-radius: 0.25em;
                                width: 100%;
                                box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                            }
                        }
        
                        .showcase-title {
                            text-transform: uppercase;
                            font-weight: bold;
                            p {
                                margin:0;
                                font-size: 0.75em;
                            }
                        }
                    }
                }
            }

            .tags {
                width: 250px;
                a {
                    text-decoration: none;
                    border-radius: 0.25em;
                    display: inline-block;
                    padding: 3px 5px 3px 5px;
                    background: #212121;
                    color:#D9D9D9;
                    margin-right: 5px;
                    margin-bottom: 5px;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}