@mixin community-upload {
    max-width: 1150px;
    margin:auto;
    
    .page-title {
        margin-top:0;
        color:#212121;
    }
    
    .page-path {
        color:#212121;
    }
    
    .upload-options {
        display: grid;
        height: 75px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        @include mobile {
            height: 150px;
            grid-template-columns: 1fr;
        }
        .option {
            height: 75px;
            position: relative;
            text-align: center;
            background-color: rgba(217, 217, 217, 0.025);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: -100px;
            @include mobile {
                background-position-y: -50px;
            }
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
            padding: 0px 25px 0 25px;
            border-radius: 0.25em;
            color: #D9D9D9;
            text-shadow: 0px 2px 4px black;
            filter:saturate(0);
            transition: 0.25s;
            cursor: pointer;
            &:hover {
                filter:saturate(1);
                color:white;
                
                > div > .title {
                    top: 25%;
                }
                
                > div > .caption {
                    opacity: 1;
                }
            }
            
            &.active {
                filter:saturate(1);
                color:white;
                > div > .title {
                    top: 25%;
                }
                
                > div > .caption {
                    opacity: 1;
                }
            }
            
            > div > .title, .caption {
                transition: 0.25s;
                width: 100%;
                margin:0;
                position: absolute;
                transform: translate(50%,-50%);
                right: 50%;
            }
            
            > div > .title {
                top: 50%;
            }
            
            > div > .caption {
                top: 65%;
                opacity: 0;
                @include mobile {
                    font-size: 0.80em;
                }
            }

            .create-showcase {

            }
    
            .upload-single-art {
    
            }
        }

    }

    .upload-area {
        padding-top: 10px;
        h1.title {
            border-bottom: 1px solid #bfbfbf;
            padding-bottom: 10px;
        }
        .split {
            display:grid; // check React code
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;

            @include mobile {
                grid-template-columns: 1fr;
            }

        }
        
        textarea {
            resize: none;
            height: 100px;
            padding-top: 5px;
            &::placeholder {
                font-size: 1em;
            }
        }
        
        .button-group {
            width: 100%;
            display:grid;
            grid-template-columns: 0.75fr 0.25fr;
            grid-gap: 10px;
            margin-bottom: 20px;
            .submit, .reset {
                height: 50px;
                font-size: 1.75em;
            }
        }
        .create-showcase {
            .showcase-form {
                .form {
                    .button-group {
                        grid-template-columns: auto;
                    }
                    .form-error {
                        transform: translate(-3%, -12%);
                    }
                }
            }
            
            .arts-list {
                padding: 10px;
                box-sizing: border-box;
                background:#bbbbbb;
                background: linear-gradient(180deg, #bbbbbb 0%, rgba(216,216,216,0) 100%);
                // box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
                // border:#b1b1b1 solid 1px;
                border-radius: 0.25em;
                .filter {
                    height: 30px;
                    .art-search {
                        // z-index: 1000;
                        height: 100%;
                        width: 250px;
                        // position: absolute;
                        // bottom: 10px;
                        // top:10px;
                        // left: 10px;
                        // box-shadow: 0 0 15px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25); 
                    }

                    .clear-selected-arts {
                        text-transform: uppercase;
                        float:right;
                        height: 100%;
                    }
                }
                .list {
                    margin-top: 10px;
                    width: 100%;
                    // overflow: scroll;
                    line-height: 0;
                    column-count: 8;
                    column-gap: 5px;
                    position: relative;
                    .art {
                        break-inside: avoid;
                        position: relative;
                        margin-bottom: 5px;
                        &:hover {
                            cursor: pointer;
                        }
                        .overlay {
                            width: 100%;
                            height: 100%;
                            visibility: hidden;
                            top: 0px;
                            left: 0px;
                            position: absolute;
                            i {
                                position: absolute;
                                top: 10px;
                                left: 10px;
                                color:white;
                            }
                        }
    
                        img {
                            box-shadow: 0 0 15px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);    
                            width: 100%;
                        }
    
                        &:hover {
                            .overlay {
                                i {
                                    visibility: visible;
                                }
                            }
                        }
    
                        &.selected {
                            .overlay {
                                background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(216,216,216,0) 100%);
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
        

        .upload-single-art {
            .upload-form {
                .form {

                    input,textarea,select {
                        margin-top: 8px;
                    }


                    .tags {
                        font-style: italic;
                        > small {
                            display: block;
                        }
                        .caption {
                            margin-bottom: 15px;
                            span {
                                border-radius: 0.25em;
                                text-transform: uppercase;
                                background-color: #ff7e06;
                                color: #D9D9D9;
                                font-size: 0.75em;
                                padding: 3px 5px 3px 5px;
                                font-style: normal !important;
                                font-weight: bold;
                            }
                        }

                        .tags-list {
                            font-style: normal;
                            .tag {
                                border-radius: 0.25em;
                                display: inline-block;
                                padding: 3px 5px 3px 5px;
                                background: #212121;
                                color:#D9D9D9;
                                margin-right: 5px;
                                margin-bottom: 5px;
                            }
                        }
                    }

                    .upload-image {
                        text-align: center;
                        // border:5px dashed #bfbfbf;
                        border-radius: 0.25em;
                        padding: 15px;
                        margin-bottom: 5px;
                        background:#bbbbbb;

                        .error {
                            color:crimson;
                            font-weight: bold;
                        }
                        .preview-image {
                            height: 500px;
                            @include mobile {
                                height: auto;
                                width: 100%
                            }
                            box-shadow: 0 0 15px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                        }
                        
                        .icon {
                            display:block;
                            color:#d8d8d8;
                            transition: 0.25s;
        
                            &:hover {
                                color:#212121;
                                // text-shadow: 5px 5px 1px white;
                            }
                            i {
                                font-size: 5em;
                                cursor: pointer;
                            }
        
                            p {
                                cursor: pointer;
                                margin:0;
                                margin-top: 10px;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}