@mixin community-userSetting {
    max-width: 1150px;
    margin:auto;
    p {
        margin:0;
    }
    .profile {
        .header {
            .page-title {
    
            }
    
            .page-path {
    
            }
        }
    
        .content {
            .form {
                .split {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 5px;
                    // display: flex;
    
                    .username {
                        .input {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}