@mixin community-userSetting {
    max-width: 1150px;
    margin:auto;
    p {
        margin:0;
    }

    .page-content {
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        column-gap: 10px;


        .side-bar {
            a {
                text-decoration: none;
            }
            .item {
                margin-bottom: 10px;
                .title {
                    color:#212121;
                    font-size: 1.5em;
                    margin:0;
                }
            }
        }

        .side-content {
            .profile {
                .header {
                    .title {
                        margin-top:0;
                    }
                }
            
                .content {
                    .form {

                        .form-error {
                            top:37%;
                        }

                        textarea {
                            resize: none;
                            height: 100px;
                            padding-top: 5px;
                            &::placeholder {
                                font-size: 1em;
                            }
                        }

                        button.submit {
                            width: 100%;
                            height: 50px;
                            font-size: 1.5em;
                            text-shadow: 0px 2px 7px #747373;
                        }

                        .split {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            column-gap: 5px;
                            // display: flex;

                            .wrapper {
                                // height: 150px;
                                .preview {
                                    border-radius: 0.25em;
                                    box-shadow: 0 0 15px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
                                }
                                .avatar-preview {
                                    height: 100%;
                                    box-sizing: border-box;
                                }


                                .banner-preview {
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    // box-sizing: border-box;
                                }
                                
                                .no-image {
                                    // height: 100%;
                                    color:#d8d8d8;
                                    // background:red;
                                    display: flex;
                                    align-items: center;
                                }

                                .image-error {
                                    color:crimson;
                                }
                                
    
                                .profile-picture, .banner {
                                    height: 150px;
                                    background:#212121;
                                    padding: 10px;
                                    border-radius: 0.25em;
                                    display: flex;
                                    justify-content: center;
                                    position: relative;
                                    .overlay {
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        border-radius: 0.25em;
                                        top: 0;
                                        left: 0;
                                        display: none;
                                        align-items:center;
                                        justify-content: space-evenly;
                                        // column-gap: 5px;
                                        text-shadow: 0px 2px 3px #212121;
                                        // z-index: 2;
                                        .box {
                                            i {
                                                color: #d8d8d8;
                                                cursor: pointer;
                                                // color:red;
                                                font-size: 1.5em;
                                            }
                                        }
                                    }

                                    &:hover {
                                       .overlay {
                                            display:flex;
                                       }
                                    }
                                }
                
                                .username {
                                    .input {
                                        display: flex;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}