@mixin community-userProfile {
    max-width: 1150px;
    margin:auto;
    
    > .header {
        max-width: inherit;
        display: flex;
        align-items: center;
        column-gap: 25px;
        margin-top: 20px;
        
        > .profile-picture {
            min-width: 200px;
            min-height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.25em;
            // border-radius: 100%; 
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
            img {
                border-radius: 0.25em;
                object-fit: cover;
                width: 200px;
                height: 200px;
            }
            
            i {
                background:#212121;
                font-size: 80px;
                color:#d9d9d9;
            }
        }
        > .profile-banner {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
            max-height: 200px;
            // border-radius: 25px 25px 0 0;
            border-radius: 0.25em;

            img {
                // border-radius: 25px 25px 0 0;
                border-radius: 0.25em;
                object-fit: cover;
                width: 100%;
                height: 200px;
            }
        }
    }

    .body {
        display: flex;
        column-gap: 25px;
        color: #212121;
        .side-bar {
            width: 200px;
            display: flex;
            flex-direction: row;
            // align-items: center;
            .user-info {
                width: inherit;

                p {
                    margin:0;
                }
                .fullname {
                    font-weight: bold;
                    font-size: 1.5em;
                }
                
                .username {
                    // font-style: italic;
                    margin-bottom: 10px;
                }

                .social-media {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 5px;
                    box-shadow: -43px 2px 0px -39px #ff810c inset;
                    margin-bottom: 2.5px;
                    transition: 0.25s;
                    cursor: pointer;
                    i {
                        font-size: 1.5em;
                    }
                    &:hover {
                        color: #ff810c;
                    }
                }

                .bio {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 0.9em;
                }

                .join-date {
                    box-shadow: -43px 2px 0px -39px #ff810c inset;
                    font-style: italic;
                    font-size: 0.75em;
                    text-align: right;
                    padding-right: 7.5px;
                }
            }
        }
        
        > .content {
            width: (1150px - (1150px - 950px));
            // border-radius: 25px 25px 0 0 !important;
            .tabs {
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                a {
                    width: 100%;
                    text-decoration: none;
                }

                a {
                    &:first-child {
                        .tab-item {
                            border-radius: 0.25em 0 0 0;
                        }
                    }

                    &:last-child {
                        .tab-item {
                            border-radius: 0 0.25em 0 0;
                        }
                    }
                }
                
                .tab-item {
                    color:  rgb(162, 162, 162);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    // color:#212121;
                    background-color:#3c3c3c;
                    box-shadow: 8px -68px 0px -78px rgba(0,0,0,0.75) inset;
                    transition: 0.25s;
                    gap: 5px;
                    .stats {
                        font-weight: bold;
                    }
                    &:hover {
                        background:#5f5f5f;
                    }
                    i {
                        font-size: 1.5em;
                    }
                }
                
                .selected {
                    // justify-content: space-between;
                    // background:rgb(162, 162, 162);
                    color:#d9d9d9;
                    background:#ffa551 !important;
                    // background:#bbbbbb;
                    // background: linear-gradient(0deg, #bbbbbb 0%, rgba(216,216,216,0) 100%);
                    box-shadow: -1px -85px 0px -78px #ff810c inset;
                }
            }
            
            .sub-content {
                width: 100%;
                height: auto;
                background:#bbbbbb;
                background: linear-gradient(180deg, #bbbbbb 0%, rgba(216,216,216,0) 100%);
                // background: rgb(162, 162, 162);
                // background: linear-gradient(180deg, rgb(162, 162, 162,1) 0%, rgba(216,216,216,1) 100%);               
                .no-item {
                    text-align: center;
                    margin: 0;
                    padding-top: 50px;
                }

                .showcases {
                    .showcases-list {
                        // box-shadow: 0 0 15px rgba(0, 0, 0, 0.30), 0 1px 3px rgba(0, 0, 0, 0.30);
                        // cursor: grab;
                        height: auto;
                        width: 100%;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        background: #212121;
                        margin-bottom: 25px;
                        @include desktop {
                            padding: 5px;
                        }
                        animation: fadeIn 1s;
                        column-gap: 10px;
                        > div {
                            text-decoration: none;
                            // color:#212121;
                            color:#d9d9d9;
                            display: grid;
                            grid-template-columns: 250px auto;
                            column-gap: 5px;
                            margin-bottom: 10px;
                            
                            &:hover {
                                color:white;
                                box-shadow: -43px 2px 0px -40px #ff810c inset;
                            }
                        }
                        
                        a {
                            text-decoration: none;
                            color: #d8d8d8;
                            cursor: pointer;
                
                            &:hover {
                                color: #ff810c;
                            }
                        }
                        
                        .info {
                            position: relative;
                            p {
                                margin:0;
                            }
                            .title {
                                font-weight: bold;
                                columns: #212121;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                // width: 250px;
                                margin-bottom: 5px;
                            }

                            .subheading {
                                font-size: 0.75em;
                            }
                            // width: calc(100%-265px);

                            .date {
                                position: absolute;
                                bottom: 0px;
                                right: 5px;
                                font-size: 0.75em;
                                font-style: italic;
                            }
                        }
            
                        .list {
                            width:  250px;
                            display:grid;
                            grid-template-columns: 1fr 1fr;
                            column-gap: 3px;
                            row-gap: 2.5px;
                            justify-content: center;
                            .no-item {
                                color:#d9d9d9;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                p {
                                    margin:0;
                                }
                            }
            
                            .showcase {
                                .showcase-thumbnail {
                                    height: 70px;
                                    width: 100%;
                                    border-radius: 0.25em;
                                    overflow: hidden;
                                    img {
                                        height: 70px;
                                        width: 100%;
                                        border-radius: 0.25em;
                                        // box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                                        object-fit: cover;
                                    }
                                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
            
                                }
            
                                .has-more {
                                    background: #212121;
                                    height: 70px;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                                    p {
                                        color:#d9d9d9;
                                        font-size: 1.5em;
                                        font-weight: bold;
                                        margin:0;
                                    }
                                }
                
                                .showcase-title {
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    p {
                                        margin:0;
                                        font-size: 0.75em;
                                    }
                                }
                            }
                        }
            
                        // a {
                        //     text-decoration: none;
                        //     &:last-child {
                        //         padding-right: 75px !important;
                        //     }
                        //     // .showcase {
                        //     //     height: inherit;
                        //     //     .title {
                        //     //         color: #d8d8d8;
                        //     //         margin-bottom: 5px;
                        //     //     }
                                
                        //     //     .thumbnail {
                        //     //         box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                        //     //         height: 175px;
                        //     //         width: 300px;
            
                        //     //         background: #212121;
                        //     //         img {
                        //     //             height: 175px;
                        //     //             width: 300px;
                        //     //             vertical-align: middle;
                        //     //             object-fit: cover;
                        //     //         }
                        //     //     }
                        //     // }
                        // }
                    }
                }

                .arts {
                    .arts-list {
                        @include desktop {
                            padding: 5px 5px 0 5px;
                        }
                        // line-height: 0;
                        display: grid;
                        grid-template-columns: repeat(6,1fr);
                        grid-gap: 5px 5px;
                        // column-count: 7;
                        justify-items: center;
                        @include mobile {
                            grid-template-columns: repeat(3,1fr);
                            // column-count:2;
                        }
                        @include tablet {
                            grid-template-columns: repeat(6,1fr);
                            // column-count:4;
                        }
                        // column-gap: 5px;
                        // padding: 5px;
                        // background-image: linear-gradient(#212121,#313131);  
                        animation: fadeIn 1s;
                        .art {
                            padding: 0px;
                            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
                            // margin-bottom: 5px;
                            // overflow: hidden;
                            display: flex;
                            justify-content: center;
                            max-width: 150px;
                            height: 150px;
                            img {
                                cursor: pointer;
                                border-radius: 0.1em;
                                width: 100% !important;
                                // height: 100% !important;
                                object-fit: cover;
                            }
                            
                            &:hover img {
                                // transition: 1s ease-in;
                                // transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
 }