// @import url('https://unpkg.com/basscss@8.0.2/css/basscss.min.css');

.drop-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.30), 0 1px 3px rgba(0, 0, 0, 0.30);
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }