@mixin resource-users {
    .users {
        .controls {
            display: flex;
            column-gap: 5px;
        }

        
        .list {
            background:white;
            border-radius: 0.25em;
            border: 0.5px solid silver;
            margin-top: 5px;
            .header {
                padding: 0 5px 0 5px;
                height: 40px;
                width: 100%;
                display: flex;
                border-bottom: 0.5px solid silver;
                box-sizing: border-box;
                justify-content: space-between;
                .flex-box {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    @include mobile {
                        width: 100%;
                        .search-bar {
                            width: 100%;
                            input {
                                width: 100% !important;
                            }
                        }
                    }
                    .search-bar {
                        display: flex;
                        column-gap: 5px;
                        
                        input {
                            overflow: hidden;
                            transition: 0.25s;
                            width: 300px;
                        }
                    }
                    
                    .search_hidden {
                        input, .button-wrapper:last-child {
                            opacity: 0;
                            visibility: hidden;
                        }
                        
                        input {
                            width: 0 !important;
                        }
                    }
                }
            }
            
            .body {
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                @include mobile {
                    grid-template-columns: 1fr !important;
                }
                
                @include tablet {
                    grid-template-columns: 1fr !important;
                }

                .pagination {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 5px;
                    margin-bottom: 5px;
                }

                > .flex-box {
                    // height: 500px;
                    padding: 5px;
                    .user {
                        display: flex;
                        column-gap: 5px;
                        padding: 5px;
                        justify-content: space-between;
                        border-radius: 0.25em;
                        border:0.5px solid silver;
                        margin-bottom: 5px;
                        &:hover {
                            background: crimson;
                            color: white;
                            
                            .button {
                                background:white;
                                color:crimson;
                                // font-weight: bold;
                                cursor: pointer;
                            }
                        }
                        
                        .user-info {
                            column-gap: 5px;
                            display: flex;
                            
                            @include mobile {
                                display: grid;
                                grid-template-columns: 35px auto;
                            }
                            
                            .profile-picture {
                                width: 35px;
                                height: 35px;
                                overflow: hidden;
                                border-radius: 0.25em;
                                flex-basis: 35px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                    height: 100%;
                                    object-fit: contain;
                                }
                                flex-basis: 35px;
                            }
                            
                            .group-info {
                                display: grid;
                                grid-template-columns: auto auto;
                                column-gap: 5px;
                                @include mobile {
                                    grid-template-columns: auto !important;
                                    .firstname, .lastname, .email {
                                        display: none !important;
                                    }
                                }
                                
                                .info {
                                    display: flex;
                                    align-items: center;
                                    font-size: 0.75em;
                                    overflow: hidden;
                                    
                                    &:hover {
                                        overflow:initial !important;
                                        p {
                                            background: crimson !important;
                                            z-index: 1000;
                                        }
                                    }
                                }
                                
                                .firstname, .lastname {
                                    font-weight: bold;
                                }
                            }
                            .extra {
                                grid-template-columns: 75px !important;
                            }
                        }
                        
                        .action {
                            display: flex;
                            column-gap: 5px;
                            align-items: center;
                            .button {
                                height: 35px;
                            }
                        }
                    }
                    
                    .selected {
                        background: crimson;
                        color: white;
                        border-color: crimson !important;
                        
                        .button {
                            background:white;
                            color:crimson;
                            // font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }
                
                > .flex-box:first-child {
                    border-right: 0.5px solid silver;
                    
                    @include mobile {
                        border-right: none !important;
                    }
                    
                    @include tablet {
                        border-right: none !important;
                    }
                }
                
                > .flex-box:last-child {
                    .add-edit-form {
                        background:white;
                        border-radius: 0.25em;
                        border: 0.5px solid silver;
                        // margin-top: 5px;
                        padding: 5px;

                        .admin-form {
                            > * {
                                margin-bottom: 5px;
                            }

                            textarea {
                                width: 100% !important;
                                font-family: "Roboto", sans-serif;
                                height: 100px;
                                &::placeholder {
                                    font-family: "Roboto", sans-serif;
                                }
                            }
                            .pics {

                                .preview {
                                    border: 0.5px silver solid;
                                    border-radius: 0.25em;
                                    display: flex;
                                    justify-content: center;
                                    padding: 5px;
                                    max-width: 100%;
                                    height: 100px;
                                    align-items: center;
                                    flex-direction: column;
                                    .add-pic {
                                        color:silver;
                                    }

                                    img {
                                        height: 100%;
                                    }
                                    position: relative;

                                    &:hover {
                                        .overlay {
                                            display: flex;
                                        }
                                    }

                                    .overlay {
                                        width: 100%;
                                        height: 100%;
                                        background:rgba(220,20,60,0.1);
                                        position: absolute;
                                        display: none;
                                        align-items: center;
                                        justify-content: center;
                                        left: 0;

                                        label {
                                            font-weight: bold;
                                            background:crimson;
                                            color:white;
                                            padding: 5px;
                                            border-radius: 0.25em;
                                        }
                                    }
                                }
                            }
                            .submit {
                                width: 100%;
                            }
                        }

                    }
                    .full-user-info {
                        .pics {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            margin-bottom: 5px;
                            column-gap: 5px;
                            > div {
                                // background:crimson;
                                border:0.5px silver solid;
                                border-radius: 0.25em;
                                display: flex;
                                justify-content: center;
                                padding: 5px;
                                max-width: 100%;
                                height: 100px;
                                img {
                                    height: 100%;
                                }
                            }
                            
                            .no_pic {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .text {
                                    color: silver;
                                }
                            }
                        }
                        .wrapper {
                            border:0.5px solid silver;
                            border-radius: 0.25em;
                            margin-bottom: 5px;
                            .outer-group {
                                display: grid;
                                grid-template-columns: 1fr;
                                .inner-group {
                                    border-bottom: 0.5px solid silver;
                                    display: grid;
                                    grid-template-columns: 0.25fr 0.75fr;
                                    
                                    > div {
                                        padding: 5px;
                                        overflow: hidden;
                                        word-wrap: break-word;
                                        font-size: 0.85em;
                                    }
    
                                    > div:first-child {
                                        font-weight: bold;
                                        border-right: 0.5px solid silver;
                                    }
                                }
    
                                .last {
                                    border-bottom: 0;
                                }
                            }
                        }

                        .stats {
                            border-radius: 0.25em;
                            max-width: 100%;
                            border:0.5px solid silver;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            column-gap: 5px;
                            .grid-box {
                                border-right: 0.5px solid silver;
                                > div {
                                    padding: 5px;
                                }
                                
                                .main-stats {
                                    p:first-child {
                                        font-weight: bold;
                                    }
                                }   

                                .extra-stats {

                                    .wrapper {
                                        border:none;
                                    }
                                    .name {
                                        font-size: 0.75em;
                                    }
                                    border-top: 0.5px solid silver;
                                    display: grid;
                                    grid-template-columns: repeat(auto-fill,minmax(50px,1fr)) !important;
                                }
                            }

                            .grid-box:last-child {
                                border-right:none;
                            }
                        }
                    }
                }
            }
        }
    }
}