@mixin announcement {
    .announcement {
        position: fixed;
        bottom: 25px;
        right: 25px;
        height: 25px;
        padding: 5px 10px 5px 10px;
        border-radius: 0.25em;
        font-size: 0.75em;
        display: flex;
        align-items: center;
        color:white;
        background: crimson;
        p {
            margin:0;
        }
    }
}