> .channel {
    width: 100% !important;
    animation: 1s fadeIn;
    .filter {
        .search {
            background:none;
            border: none;
            box-shadow: none;
            outline: none;
            color:#b2bec3;
            height: 50px;
            font-size: 1.5em;
            margin-bottom: 10px;
            width: 50%;
            &:hover {
                &::placeholder {
                    color: white;
                }
            }
            
            &::placeholder {
                color: #b2bec3;
                text-shadow: 0px 2px 3px #101010;
                font-weight: bold;
            }
        }

        .select {
            float:right;
            // @include tablet {
            //     width: 50%;
            // }
            select {
                height: 50px;
                background:none;
                
                margin: 0 !important;
                border-radius: 0.25em;
                padding: 5px 5px 5px 0;
                color:#b2bec3;
                border:none;
                width: auto;
                font-size: 1.5em;
                text-transform: uppercase;
                font-weight: bold;
                text-shadow: 0px 2px 3px #101010;

                &:first-child {
                    margin-right: 10px;
                }
                &:hover {
                    color:white;
                }

                &:focus {
                    border:none;
                    outline: none;
                    box-shadow: none;
                }
                option {
                    background: white;
                    border-radius: 100%;
                    color:#101010;
                }

            }
        }
    }

    .art-channels-form {
        animation:1s fadeIn;
        margin: 0;
        background:#1e3799;
        padding: 25px;
        box-sizing: border-box;
        border-radius: 0.25em;
        box-shadow: 0 0 15px rgba(0,0,0,0.3), 0 1px 3px rgba(0,0,0,0.3);
        
        .add-channel-title {
            cursor: grab;
        }

        .form-buttons-group {
            // text-align: center;

            button:last-child {
                float:right;
            }
        }
    
        .profile-picture-preview {
            width: 100px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }
    
        .no-file, .upload-button {
            text-align: center;
        }
    }

    .no-record {
        text-align: center;
        font-weight: bold;
        text-shadow: 0px 2px 3px #101010;
    }
    
    .art-channels-list {
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 10px;
        column-gap: 10px;
        margin-bottom: 20px;

        @include tablet {
            grid-template-columns: auto auto;
        }

        @include mobile {
            grid-template-columns: auto;
        }

        .channel-item {
            animation: 1s fadeIn;
            cursor: pointer;
            border-radius: 0.25em;
            height: 75px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 5px 0 0 10px;
            box-sizing: border-box;
            position: relative;

            p {
                margin:0;
                padding: 0;
                word-wrap: break-word;
                text-shadow: 0px 2px 3px #101010;
                color:white;
            }

            .name {
                font-size: 1.25em;
                font-weight: bold;
            }
            .date {
                font-size: 0.75em;
                position: absolute;
                bottom: 5px;
                right: 10px;
            }

            .edit {
                position: absolute;
                top: 5px;
                right: 10px;
                // color:orangered;
                font-weight: bold;
            }

            .delete {
                font-weight: bold;
                position: absolute;
                left: 10px;
                bottom: 5px;
                // color: crimson;
            }
        }
    }

    .show-add-channel-form {
        &::before {
            content: '+ ';
        }
        text-shadow: 0px 2px 3px #101010;
        color: #b2bec3;
        margin: 0;
        font-size: 1.5em;
        font-weight: bolder;
        text-decoration: none;
        float: right;
        cursor: pointer;

        &:hover {
            color:white;
        }
    }
}