@import './form.scss';
@import './alertModal.scss';
@import './artChannel.scss';

.admin {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // font-family: 'Oswald', sans-serif;

    .pagination {
        float:left;
        a {
            text-decoration: none;
            color:#b2bec3;
            text-shadow: 0px 2px 3px #101010;
            cursor: pointer;
            &:hover {
                color:white;
            }
            margin-right: 15px;
            font-weight: bold;
            font-size: 1.5em;
            &.active {
                color:white;
            }
        }

    }

    .announcer {
        .message {
            width: auto;
            height: auto;
            background:#1e3799;
            position: absolute;
            bottom: 25px;
            right: 25px;
            word-wrap: break-word;
            padding: 10px;
            box-sizing: border-box;
            box-shadow: 0 0 15px rgba(0,0,0,0.3), 0 1px 3px rgba(0,0,0,0.3);
            color:white;
            text-shadow: 0px 2px 3px #101010;
            border-radius: 0.25em;
            animation:0.5s fadeIn;
            span {
                font-weight: bold;
            }
    
            p {
                margin:0;
                font-weight: normal;
            }
        }
    }
    .navbar {
        .panel {
            background:#1e3799;
            width: 250px;
            height: 100vh;
            box-shadow: 0 0 15px rgba(0,0,0,0.3), 0 1px 3px rgba(0,0,0,0.3);
            .header {
                box-shadow: 0 0 15px rgba(0,0,0,0.3), 0 1px 3px rgba(0,0,0,0.3);
                h1.title {
                    padding-top: 20px;
                    margin:0;
                    color:#b2bec3;
                    text-align: center;
                    text-shadow: 0px 2px 3px #101010;
                    // background:#b2bec3;
                    // padding: 10px 5px 10px 5px;
                    // border-radius: 1em;
                    padding-bottom: 15px;
                    // border-bottom: 1px solid #a0a5a7;
                }
            }

            .resources {
                padding: 0 25px 0 25px;
                .resource {
                    h2.resource-name {
                        transition: 0.5s;
                        color:#b2bec3;
                        text-shadow: 0px 2px 3px #101010;
                        &:hover {
                            text-indent: 10px;
                            cursor: pointer;
                            border-left: 25px solid white;
                            color:white;
                        }

                        &.active {
                            text-indent: 10px;
                            cursor: pointer;
                            border-left: 25px solid white;
                            color:white;
                        }
                    }

                    // div.resource-stats {
                    //     color:#b2bec3;
                    //     animation: fadeIn 1s;
                    //     text-shadow: 0px 2px 3px #101010;
                    // }
                }
            }
        }
        float:left;
    }

    .content {
        height: 100vh;
        background:#0c2461;
        color:#b2bec3;
        overflow: hidden;
        .top-nav {
            height: 76px;
            background: rgb(12,36,97);
            background: linear-gradient(360deg, rgba(12,36,97,1) 0%, rgba(30,55,153,1) 100%);
            .admin-info {
                float:right;
                margin-top: 10px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                padding: 10px;
                transition: 0.75s;
                border-radius: 50px;
                cursor: pointer;
                &:hover {
                    background: rgba(255,255,255,0.3);
                    color:#0c2461;
                }

                &:active {
                    background:white;
                }

                .profile-picture {
                    border-radius: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 45px;
                    width: 45px;
                }
                .info {
                    margin-right: 10px;
                    padding-left: 15px;
                    p {
                        margin:0;
                    }
                    
                    .fullname {
                        font-weight: bold;
                    }
                }
            }
        }
        .resource {
            margin: 20px;
            .control {
                animation: 0.5s fadeIn;
                display: inline-block;
                padding-right: 25px;
                width: 100%;
                .navbar {
                    .nav-item {
                        float:left;
                        padding: 10px;
                        // margin:0 0 0 25px;
                        a {
                            text-shadow: 0px 2px 3px #101010;
                            color: #b2bec3;
                            margin:0;
                            font-size: 16pt;
                            font-weight: bolder;
                            &.active {
                                color:white !important;
                            }
                            cursor: pointer;
                        }

                        &:hover {
                            a {
                                color:white !important;
                            }
                        }
                    }
                }

                .manager {
                    padding:10px;
                    animation: 0.5s fadeIn;
                    padding-top: 100px;

                    > div {
                        display: inline-block;
                        animation: 0.5s fadeIn;
                    }

                    .users-list {
                        .filter {
                            .search {
                                background:none;
                                border: none;
                                box-shadow: none;
                                outline: none;
                                color:#b2bec3;
                                height: 50px;
                                font-size: 1.5em;
                                margin-bottom: 10px;
                                &:hover {
                                    &::placeholder {
                                        color: white;
                                    }
                                }
                                
                                &::placeholder {
                                    color: #b2bec3;
                                    text-shadow: 0px 2px 3px #101010;
                                    font-weight: bold;
                                }
                            }

                            .select {
                                float:right;
                                select {
                                    height: 50px;
                                    background:none;
                                    
                                    border-radius: 0.25em;
                                    padding: 5px 5px 5px 0;
                                    color:#b2bec3;
                                    border:none;
                                    width: auto;
                                    font-size: 1.5em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    text-shadow: 0px 2px 3px #101010;

                                    &:first-child {
                                        margin-right: 10px;
                                    }
                                    &:hover {
                                        color:white;
                                    }

                                    &:focus {
                                        border:none;
                                        outline: none;
                                        box-shadow: none;
                                    }
                                    option {
                                        background: white;
                                        border-radius: 100%;
                                        color:#101010;
                                    }

                                }
                            }
                        }
                        
                        .table {
                            width: 100%;
                            table-layout: fixed;
                            border-spacing: 0 10px;

                            * {
                                text-shadow: 0px 2px 3px #101010;
                            }

                            thead {
                                font-weight: bold;
                                text-transform: uppercase;
                                font-size: 0.85em;
                                .email {
                                    width: 15%;
                                } 
                                .username {
                                    width: 10%;
                                }

                                .date {
                                    width: 10%;
                                }

                                .id, .firstname, .lastname {
                                    width: 5%;
                                }


                            }
                            
                            .action {
                                text-align: center;
                                width: 7.5%;
                                a {
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    font-size: 1.25em;
                                    color:#b2bec3;
                                    font-weight: bold;
                                    &:hover {
                                        color:white;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    .no-record {
                                        text-align: center;
                                        font-weight: bold;
                                        font-size: 1.25em;
                                    }

                                    &:hover {
                                        background:rgba(255, 255, 255, 0.1);
                                        color:white;
                                    }

                                    td {
                                        word-wrap: break-word;
                                        &:active {
                                            // background:rgba(255,255,255,0.3);
                                        }
                                    }

                                    .profile_picture {
                                        img {
                                            object-fit: cover; /*magic*/
                                        }
                                    }
                                }
                                img {
                                    margin-left: 25px;
                                    border-radius: 100%;
                                }
                                font-size: 0.75em;
                            }
                        }

                        .add-new-member {
                            text-shadow: 0px 2px 3px #101010;
                            color: #b2bec3;
                            margin:0;
                            font-size: 1.5em;
                            font-weight: bolder;
                            text-decoration: none;
                            float:right;
                            &.active {
                                color:white !important;
                            }
                            cursor: pointer;
                            &:hover {
                                color:white;
                            }

                            &::before {
                                content: "+ ";
                            }
                        }
                    }
                }
            }
        }
    }
}

.handle {
    cursor: grabbing;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide {
    0% {height: 0%;}
    100% {height: 100%;}
}