@mixin form {
    .button {
        height: 25px;
        padding: 0 5px 0 5px;
        border:none;
        border-radius: 0.25em;
    }

    .button-crimson {
        background: crimson;
        color:white;
    }

    .text-input {
        height: 25px;
        font-size: 1.25em;
        border:1px solid grey;
        border-radius: 0.15em;
        text-indent: 2.5px;
        &:focus {
            outline: none;
        }
    }
}